---
import trailer_img from '../assets/img/trailer-img.png';
import divider from '../assets/img/divider.png';
const { title, copy, trailer_link, subtitle, copyTwo } = Astro.props;
---

<section class="story">
    <div class="container py-56 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="flex flex-col justify-center">
                <h2 class="story-subtitle mb-10" data-aos="fade-up" data-aos-duration="1000">{title}</h2>
                <p class="story-copy" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">{copy}</p>
            </div>
            <div class="mx-auto col-span-2">
                <a href={trailer_link} target="_blank">
                    <img src={trailer_img} alt="trailer">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="story-2">
    <div class="container py-20 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="mx-auto col-span-2">
                <video autoplay loop muted playsinline>
                    <source src="https://blz-contentstack-assets.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltb6e269455cd58b2e/62a06a53d1dfb243261cabb4/fenris-story-bg-loop-ultra.mp4" type="video/mp4">
                </video>
            </div>
            <div class="flex flex-col justify-center">
                <h2 class="story-subtitle mb-10" data-aos="fade-up" data-aos-duration="1000">{subtitle}</h2>
                <p class="story-copy" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">{copyTwo}</p>
            </div>
        </div>
    </div>
    <img src={divider} alt="Divider">
</section>

<style>
    .story {
        background-image: url('../assets/img/story-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .story-subtitle {
        color: var(--text-first-color);
        font-size: var(--title-size);
        text-shadow: 0px 3px 6px #000000;
        line-height: 60px;
        text-align: center;
    }
    
    .story-copy {
        text-shadow: 0px 3px 6px #000000;
        color: #CCCCCC;
        text-align: center;
    }

    .story-2 img {
        transform: rotate(180deg);
    }
</style>